form{
 display: flex;
 flex-direction: column;
 max-width: 90%;
}

button{
 margin-right: 2em;
 margin-top: 0.5em;
}

input{
 margin-top: 1em;
}

mat-card{
 width: 80%;
 top: 50px;
 margin:auto;
}

.shortInput{
 max-width: 30%;
}